/* LA CREATION DE 3 FICHIERS CSS C'EST POUR FACILITER LA COMPRÉHENSION */

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

body{
    color: black;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
    margin-top: 15px;
}

h1{
  font-family: "Verdana", verdana, sans-serif;
  font-size: 150%;
  text-align: center;
  color: black;
}

h2{
  font-family: "Arial", arial, sans-serif;
  font-size: 100%;
  text-align: left;
  color: black;
  background-color: transparent;
}

p{
  font-family: "Georgia", georgia, serif;
  font-size: 80%;
  text-indent: 8px;
  text-align: justify;
  background-color: transparent;
  margin-left: 8px;
  margin-right: 16px;
}

li{
  font-family: "Verdana", verdana, sans-serif;
  font-size: 80%;
  text-align: justify;
  background-color: transparent;
  margin-left: 10px;
  margin-right: 0px;
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: dodgerblue;
  background-color: transparent;
  text-decoration: dashed;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: dashed;
}

table{
  font-family: "Comix Sans MS", "Comic Sans", cursive;
  font-size: 80%;
  text-align: center;
  background-color: white;
  border:2px solid;
  border-color: grey;
  color:black
}

th{
  border: 1px dashed;
  border-color: grey;
}

td{
  border: 1px dashed;
  border-color: grey;
}

#container1 {
  max-width: 500px;
  background-color: lightblue;
  padding: 50px;
  color:black;
  border-radius: 10px;
  position: relative
}

.bg-index {
  background: url("../image/pexels-hasan-albari-1229861.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-produits {
  background: url("../image/pexels-athena-2582937.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-local{
  background: url("../image/pexels-pixabay-219692.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-presentation{
  background: url("../image/pexels-francesco-ungaro-281260.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

